# Maven / Java / Spring Boot
/target/
/bin/
*.log
*.class
*.jar
*.war
*.iml
/.idea/
/.vscode/
.DS_Store
# Sistema operativo
Thumbs.db
# Archivos de configuración de entorno
.env
# Selenium/ChromeDriver
chromedriver.exe
# Otros
*.swp
